<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726492452989-cavf523vvq2rf78ugsle2q1u4lbm2dme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726492452989-cavf523vvq2rf78ugsle2q1u4lbm2dme</string>
	<key>API_KEY</key>
	<string>AIzaSyD9nw5uLzXaif_kXBjTdCS_F4IYOSYnRTI</string>
	<key>GCM_SENDER_ID</key>
	<string>726492452989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventApplication1</string>
	<key>PROJECT_ID</key>
	<string>eventapp-839c9</string>
	<key>STORAGE_BUCKET</key>
	<string>eventapp-839c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726492452989:ios:899ec0d46a1b4db84c7914</string>
</dict>
</plist>